.container {
    max-width: 900px;
  }
  
  .custom-card {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .custom-input {
    border-radius: 5px;
  }
  
  .custom-add-button {
    font-size: 14px;
    border-radius: 5px;
    background-color: #28a745; /* Green color */
    color: white;
    position: relative;
    overflow: hidden;
  }
  
  .custom-add-button:hover {
    background-color: #218838;
    transform: scale(1.05);
  }
  
  .custom-add-button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    animation: glow 2s infinite linear;
    transform: rotate(45deg);
  }
  
  @keyframes glow {
    0% {
      top: -50%;
      left: -50%;
    }
    100% {
      top: 50%;
      left: 50%;
    }
  }
  
  .play-video-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #FF0000; /* YouTube red */
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .play-video-btn:hover {
    background-color: #cc0000 !important;
    transform: scale(1.05);
  }
  
  .play-video-btn::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    animation: glow 2s infinite linear;
    transform: rotate(45deg) !important;
  }
  
  @keyframes glow {
    0% {
      top: -50%;
      left: -50%;
    }
    100% {
      top: 50%;
      left: 50%;
    }
  }
  
  .custom-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .custom-card .card-body {
    padding: 2rem;
  }
  
  .video {
    display: flex;
    justify-content: center;
    align-items: center;
  }